<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rohitneel.photopixelpro" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".app.ProjectApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon, android:appComponentFactory"
        tools:targetApi="tiramisu">
        <activity
            android:name=".backgroundremover.EraserPhotoShareActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".backgroundremover.BackgroundEraserTutorial"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gallery.FrameGallery"
            android:label="Photo Frame Gallery"
            android:parentActivityName=".photoframe.activities.ActivityCreatePhoto"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photoframe.activities.ActivityGalleryFile"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".photoframe.activities.ActivityGalleryImages"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photoframe.activities.PhotoFrameActivity"
            android:label="Select Frame"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".photoframe.activities.ActivityMyCreations"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".photoframe.activities.ActivityCreatedAlbumPreview"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".photoframe.activities.ActivityPreviewImage"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".photoframe.activities.ActivityCreatePhoto"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.ContactUs"
            android:label="Feedback"
            android:exported="true"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gallery.BackgroundEraserGallery"
            android:label="Background Remover Gallery"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photoeditor.ShowSavedFilePath"
            android:label="Save Path"
            android:parentActivityName=".activities.SettingsActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gallery.CollageGallery"
            android:label="Collage Gallery"
            android:parentActivityName=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".backgroundremover.EraserActivity"
            android:label="Eraser"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".activities.LauncherActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gallery.PhotoEditorGallery"
            android:label="@string/title_activity_download_media"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gallery.FullView"
            android:exported="true"
            android:theme="@style/fullViewTheme" />
        <activity
            android:name=".photoeditor.MediaActivity"
            android:label="@string/title_activity_media"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gallery.ShowVideo"
            android:label="@string/title_activity_show_video"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name=".app.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".tutorials.TutorialActivity"
            android:icon="@drawable/ic_chevron_left_black_24dp"
            android:label="Tutorial"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/TutorialTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".photocollage.layout.WingLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.layout.BlurLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.layout.PixLabLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.layout.ArtLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.activities.PhotoEditorActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.activities.PhotoCollageActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.activities.GridPickerActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.activities.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.activities.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.activities.PhotoShareActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:exported="true"
            android:theme="@style/Dexter.Internal.Theme.Transparent" />
        <activity
            android:name=".photocollage.layout.SplashLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.layout.MotionLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.layout.DripLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.layout.NeonLayout"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.eraser.StickerEraseActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photocollage.activities.PickerActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>